<%= title @actu.title %>
<div class='row' style="padding-left:30px;">
  <h1><%= @actu.title %></h1>
  <h3><%= I18n.l @actu.date %></h3>
</div>

<div class='row'>
  <div class='col-md-6' style='padding-top:50px;'>
    <%= raw @actu.content %>
  </div>
  <div class='col-md-6'>
    <%= gmaps_iframe(@actu.address) if @actu.address %>
  </div>
</div>
