<%# add navigation links to this file %>
<li><%= link_to 'Contact', 'mailto:alem.paname@gmail.com'%></li>
<li><%= link_to 'Newsletter', 'http://eepurl.com/N3Rrr', :target => "_blank"%></li>
<!--
<li><%= link_to 'Actualités', news_index_path%></li>
<li><%= link_to 'Photos', photos_path%></li>
<li><%= link_to 'Vidéos', videos_path%></li>
<li><%= link_to 'Écouter', music_path%></li>
-->
