<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Alem" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Alem" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="padding-bottom: 70px">
    <div id="fb-root"></div>
    <div class="container" id="main-container">
      <header>
      <%= render 'layouts/navigation' %>
      </header>
      <main role="main" class='row'>
      <div class="row pull-right">
        <%= render 'layouts/social_share' %>
      </div>

      <%= render 'layouts/messages' %>
      <%= yield %>
      </main>
      <footer>
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <%= render 'layouts/social_share' %>
        </div>
      </div>
      </footer>
    </div><!-- container -->
    <%= render 'layouts/analytics' if Rails.env.production? %>
  </body>
</html>
