<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Alem" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Alem" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="padding-bottom: 70px">
    <div class="container">
      <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      </main>
    </div><!-- container -->
    <footer>
      <%= render 'layouts/navigation' %>
    </footer>
  </body>
</html>
